@import "fonts";

$dark-blue: #223344;
$medium-dark-blue: #163855;
$medium-blue: #336699;


nav.nav {
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 10px;
  }
}

p {
  font-size: 1.2em;
  font-family: sans-serif;
}

h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
}

h2 {
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300px;
  .glyphicon, .fa {
    padding-right: 0.6em;
  }
}

h1 {
  font-family: 'Quicksand', sans-serif;
  margin: 0; 
  font-weight: 300;
  font-size: 3em;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  background: $medium-dark-blue;
  color: #fff;
  &:hover {
    color: #fff;
    background: $medium-blue;
  }
  &.lite {
    background: $medium-blue;
    &:hover {
      background: $medium-dark-blue;
    }
  }
}

.fa {
  padding-right: 1em;
}