@import "fonts";


nav.nav {
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 10px;
  }
}

p {
  font-size: 1.2em;
  font-family: sans-serif;
}

h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
  margin: 0; 
  font-weight: 300;
  font-size: 4em;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  background: #eee;
  border: 1px solid #ddd;
}