@import "base";

header {
  padding: 200px 0 0 0;
  background: url("/assets/banner.jpg") fixed;
  color: #fff;
  background-size: cover;
  background-position: 0 0;
}

section {
  clear: both;
  border-top: 1px solid #ddd; 
  padding: 30px 0;
}



#about {
  border-top: 0;
  background: rgba(241, 248, 255, 0.8);
  color: #333;
  margin-top: 20px;
  p {
    margin-top: 10px;
  }
  h2 {
    margin-top: 10px;
  }
}

.contact {
  height: 250px;
  // text-align: center;
  img {
    width: 220px;
    display: inline-block;
    margin: 0 40px 110px 0;
    border-radius: 140px;
    border: 2px solid #aaa;
    position: relative;
  }
  .card {
    color: #555;
    margin: 0;
    padding: 30px 50px;
    // border: 1px dashed #555;
    text-align: left;
    display: inline-block;
    background: #fff;
  }
}

#services {
  background: $medium-dark-blue;
  color: #fff;
  .icon {
    text-align: center;
    padding-top: 10px;
    img {
      width: 100px;
    }
    .fa {
      font-size: 100px;
      padding-right: 0;
      &.fa-diamond {
        color: #d55
      }
      &.fa-eye {
        color: #6edeff;
      }
    }
  }
}

#process {
  background: url('/assets/jungle.jpg') fixed;
  background-size: 1440px;
  background-position: center -300px;
  .overlay {
    background: rgba(255,255,255,0.1);
  }
  .btn {
    margin: 0 10px;
  }
  .external-prompt {
    background: #333;
    color: #fff;
    display: inline-block;
    padding: 15px 20px;
    // border: 1px solid #ddd;
    line-height: 2.5em;
  }
}

.cutout {
  display: block;
  width: 200px;
  padding: 15px;
  background: #fff;
  margin: -31px 0 0 15px;
  border: 1px solid #555;
  border-top: 0;

}

.graphic-block {
  overflow: auto;
  margin: 30px 0;
  background: #FFF;
  border: 1px solid #555;
  .description {
    margin-top: 10px;
  }
}

#web-work ul {
  padding: 0;
  li {
    list-style: none;
    clear: both;
    margin: 30px 0;
    overflow: auto;
    .bio {
      margin-top: 30px;
      .btn {
        margin-top: 20px;
      }
    }
  }
}

.description {
  margin: 20px 0;
}

.image-container {
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
  border: 1px solid #999;
  padding: 0;
  img {
    width: 100%;
  }
}

.sub-heading {
  font-size: 1.5em;
}

footer {
  background: url('/assets/map.jpg') fixed 0 -200px;
  color: #000;
  overflow: hidden;
  .overlay {
    padding: 30px 0 0 0;
    background: rgba(255,255,255,0.6);
  }
  .closing {
    color: #fff;
    background: rgba(70, 131, 178, 0.6);
    //border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 30px;
    text-align: center;
    padding: 30px 0;
    height: 234px;
    //overflow: hidden;
  }
    .copyright {
      margin-top: 35px;
      color: #cfcfcf;
    }
  // }
}