@import "base";

header {
  padding: 400px 0 20px 0;
  background: url("/assets/banner.jpg") fixed;
  color: #fff;
  background-size: 100%;
  background-position: 0 -100px;
}

section {
  clear: both;
  border-top: 1px solid #ddd; 
  padding: 30px 0;
}



#about {
  img {
    width: 200px;
    float: left;
    margin: 0 40px 20px 0;
    border-radius: 140px;
    border: 2px solid #000;
  }
  p {
    margin-top: 10px;
  }
  h2 {
    margin-top: 10px;
  }
  .fa {
    padding-right: 1em;
  }
}

.contact {
  margin: 40px auto;
  padding: 20px 50px;
  // background: #eee;
  border: 1px dashed #aaa;
  display: block;
  width: 320px;
}

#web-work ul {
  padding: 0;
  li {
    list-style: none;
    clear: both;
    margin: 30px 0;
    overflow: auto;
    .bio {
      margin-top: 30px;
    }
  }
}

.description {
  margin: 20px 0;
}

#services {
  .icon {
    text-align: center;
    padding-top: 20px;
    img {
      width: 100px;
    }
  }
}

.graphic-block {
  overflow: auto;
  margin: 30px 0;
  .description {
    margin-top: 10px;
  }
}

.image-container {
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 0;
  img {
    width: 100%;
  }
}

.sub-heading {
  font-size: 1.5em;
}