<!DOCTYPE html>
<html>
<head>
  <title>Portfolio2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="//use.typekit.net/sou2sky.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
</body>
</html>
